<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Sample Category"
            id="org.eclipse.e4.opensocial.tests.commands.category">
      </category>
      <command
            name="Sample Command"
            categoryId="org.eclipse.e4.opensocial.tests.commands.category"
            id="org.eclipse.e4.opensocial.tests.commands.sampleCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="org.eclipse.e4.opensocial.tests.commands.sampleCommand"
            class="org.eclipse.e4.opensocial.tests.handlers.OpenOSBrowserHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.e4.opensocial.tests.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Open Social"
               mnemonic="M"
               id="org.eclipse.e4.opensocial.tests.menus.sampleMenu">
            <command
                  commandId="org.eclipse.e4.opensocial.tests.commands.sampleCommand"
                  mnemonic="S"
                  id="org.eclipse.e4.opensocial.tests.menus.sampleCommand">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.eclipse.e4.opensocial.tests.toolbars.sampleToolbar">
            <command
                  commandId="org.eclipse.e4.opensocial.tests.commands.sampleCommand"
                  icon="icons/opensocial.gif"
                  tooltip="Open Gadget in Dialog"
                  id="org.eclipse.e4.opensocial.tests.toolbars.sampleCommand">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.eclipse.e4.opensocial.tests"
            name="OpenSocial">
      </category>
      <view
            allowMultiple="true"
            category="org.eclipse.e4.opensocial.tests"
            class="org.eclipse.e4.opensocial.tests.views.SampleView"
            icon="icons/opensocial.gif"
            id="org.eclipse.e4.opensocial.tests.views.SampleView"
            name="OpenSocial Sample View">
      </view>
   </extension>

</plugin>
